{
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": [2, "unix"],
        "block-scoped-var": [2],
        "curly": [2],
        "dot-notation": [2],
        "eqeqeq": [2, "allow-null"],
        "no-else-return": [2],
        "no-magic-numbers": [2],
        "no-multi-spaces": [2],
        "no-sequences": [2],
        "no-self-compare": [2],
        "radix": [2],
        "no-shadow": [2],
        "no-unused-vars": [2, {
            "vars": "all",
            "args": "none"
        }],
        "no-use-before-define": [2]
    },
    "env": {},
    "extends": "eslint:recommended"
}
